<!DOCTYPE html>
<html style="height: 100%;width:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>德阳电视包</title>
    
    <link rel="stylesheet" href="css/deyang_tvb.css" type="text/css">
    <script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/china.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/sichuan.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/deyang.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jingyang.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/guanghan.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/mianzhu.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/luojiang.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/shifang.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/zhongjiang.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/deyang_grid.js" type="text/javascript" charset="utf-8"></script>
    

</head>
<body style="height: 100%;width:100%;">
    <div class="body_in">
        <div class="top">德阳电视包可视化-Echarts</div>
        <div class="middle">
            <div class="middle_left">
                <div class="middle_left_top">
                    <div id = "bar_tv_user" style="height: 100%;widht:100%;"></div>
                    <div class="middle_left_top_footer"></div>
                </div>
                <div class="middle_left_mid">
                    <div id = "bar_tv_user_new" style="height: 100%;widht:100%;"></div>
                    <div class="middle_left_top_footer"></div>
                </div>
                <div class="middle_left_bottom">
                    <div class="middle_left_bottom_left">
                        <div id = "pie_watching_time" style="height: 100%;widht:100%;"></div>
                        <div class="middle_right_right_footer"></div>
                    </div>
                    <div class="middle_left_bottom_mid">
                        <div id = "pie_family_num" style="height: 100%;widht:100%;"></div>
                        <div class="middle_right_right_footer"></div>
                    </div>
                    <div class="middle_left_bottom_right">
                        <div id = "pie_family_stb_num" style="height: 100%;widht:100%;"></div>
                        <div class="middle_right_right_footer"></div>
                    </div>
                </div>
            </div>
            <div class="middle_right">
                <div class="middle_right_left">
                    <h5>区县&nbsp;&nbsp;活跃家庭数</h5>
                    <h6>&nbsp;罗江&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19760</h6>
                    <h6>&nbsp;中江&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;78183</h6>
                    <h6>&nbsp;广汉&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;53822</h6>
                    <h6>&nbsp;什邡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;43328</h6>
                    <h6>&nbsp;旌阳&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;70746</h6>
                    <h6>&nbsp;绵竹&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;51691</h6>
                </div>
                <div  class="middle_right_right">
                    <div id = "geo_deyang" style="height: 100%;widht:100%;"></div>
                    <div class="middle_right_right_footer"></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom_left">
                <div id = "bar_bottom_left" style="height: 100%;widht:100%;"></div>
                <div class="middle_right_right_footer"></div>
            </div>
            <div class="bottom_mid">
                <div id = "bar_bottom_mid" style="height: 100%;widht:100%;"></div>
                <div class="middle_right_right_footer"></div>
            </div>
            <div class="bottom_right">
                <div id = "bar_bottom_right" style="height: 100%;widht:100%;"></div>
                <div class="middle_right_right_footer"></div>
            </div>
        </div>
    </div>
    <script src="js/deyang_tvb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>